:root {
  --vp-font-family-base: InterVariable, system-ui;

  /* clear design - remove gray background */
  --vp-c-bg-alt: unset;

  /* clear design - remove gray background and add 1px border */
  --vp-custom-block-details-bg: unset;
  --vp-custom-block-details-border: var(--vp-c-divider);

  /*--vp-sidebar-width: 200px !important;*/
}

.VPDoc.has-aside .content-container {
  /* make content more wider (unset max-width: 688px;) */
  max-width: unset !important;
}